@model List<FinalProtingII.Models.Penggajian>
@{
    ViewData["Title"] = "Penggajian";
}

<section class="content">
    <div class="col-xs-12">
        <div id="divTitle">
            <div class="content-header">
                <h3>@ViewData["Title"]</h3>
            </div>
        </div>
        <div id="divSearch">
            @Html.Partial("_SearchCriteria")
        </div>
        <div id="divGrid">
            @Html.Partial("_GridView")
        </div>
    </div>
</section>

<!-- Container untuk load modal partial -->
<div id="penggajian"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.open-modal').click(function (e) {
                e.preventDefault();
                var url = $(this).data('url');

                $.get(url, function (data) {
                    $('#penggajian').html(data);
                    $('#penggajian').find('.modal').modal('show');
                });
            });

            // Tutup modal (dengan tombol atau close icon)
            $(document).on('click', '.modal .close, .modal .btn-secondary[data-dismiss="modal"]', function () {
                $(this).closest('.modal').modal('hide');
            });

            // Tutup modal via tombol "Batal" atau "X"
            $(document).on('click', '.modal .close, .modal [data-dismiss="modal"]', function () {
                $(this).closest('.modal').modal('hide');
            });
        });
    </script>
}


